html {
    font-family: Arial, Helvetica, sans-serif;
    font-color: #413d1f;
    background: #beb79f;
    text-align: justify;
    text-justify: distribute;
    padding-left: 10px;
    padding-right: 10px;
}
  
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

a {
    transition: color .5s, font-weight, .5s
}

a:hover {
    color: blue;
    font-weight: bold;
}
